{
	# see: https://caddyserver.com/docs/caddyfile/directives#directive-order
	order umami before method
	admin off
	debug
}

:22111 {
	umami {
		event_endpoint "https://example.net/api/send"
		website_uuid "0cdf6f5b-9b3b-4815-9d22-8cb4d6132781"
		allowed_extensions "" .html .htm
		trusted_ip_header X-Forwarded-For
		cookie_consent path_only
		cookie_resolution
		device_detection
	}
	respond "Hello, world!"
}
